// styles for about section within main

.aboutSection {
    .sixty {
        padding-top: 140px;
        
        background: darkslateblue;
    }

    .forty {
        background: $backgroundMain;
    }

}