// contact section styles

.contactSection {
    a {
        margin: 10px;
        padding: 5px 10px;
        border-radius: 5px;

        display: inline-block;

        font-size: 2.2rem;
        font-weight: 600;
        text-shadow: 2px 2px 1px #000;
    }

    a:hover,
    a:focus {
        background: $backgroundMain;
    }

    a:active {
        background: $headingMain;
    }
}