// general styles, class declarations and style stripping

// general class declarations

.wrapper {
    width: 96%;
    max-width: 1480px;
    margin: 0 auto;
}

// style stripping

h1,
h2,
h3,
ul,
a,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}


// general styles

// * {
//     border: 1px solid red;
// }

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #fff;
    background: $backgroundMain;
}

img {
    width: 100%;
}

h1,
h2 {
    font-weight: 600;
}

h3,
a,
p {
    font-weight: 300;
}

h1 {
    @include forDesktop {
        font-size: 8.0rem;
    }
}

h2 {
    @include forDesktop {
        margin-bottom: 10px;

        font-size: 5.0rem;
    }
}

h3 {
    @include forDesktop {
        font-size: 3.6rem;
    }
}

a,
p,
input,
textarea {
    @include forDesktop {
        font-size: 2.2rem;
    }
}

p {
    display: inline-block;
    margin-top: 20px;
    line-height: 1.4;
}


a.highlighted {
    padding: 10px 20px;
    border-radius: 40px;

    font-weight: 600;
    color: $backgroundMain;
    background: $textMain;

    @include forDesktop {
        font-size: 2.4rem;
    }
}

i {
    @include forDesktop {
        font-size: 3.5rem;
    }
}

h1,
h2,
h3,
a,
p {
    letter-spacing: 1.2px;
    color: $textMain;
}

h1,
h2,
h3,
a {
    line-height: 1.2;
}

header,
section {
    @include forDesktop {
        min-height: 90vh;
    }
    
    background: $backgroundMain;
}

.flexParent {
    display: flex;
}

.forty {
    @include forDesktop {
        width: 40%;
    }
    background: $backgroundMain;
}

.sixty {
    @include forDesktop {
        width: 60%;
    }
}

.forty,
.sixty {
    height: 100vh;
    padding: 0 40px;
    padding-top: 140px;
}


