// general styles, class declarations and style stripping

// general class declarations

.wrapper {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
}


// general styles

// * {
//     border: 1px solid red;
// }

html {
    font-size: 62.5%;
}

// body {
//     font-family: ;
//     background: ;
//     color: ;
// }

img {
    width: 100%;
}



// style stripping

h1,
h2,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
