// header styles

header {
    position: relative;

    .forty {
        padding: 0;
        background: linear-gradient(#4d5e6e, $backgroundMain);
        
        img {
            height: 100%;
        }

        @include forTablet {
            display: none;
        }
    }

    .sixty {
        @include forDesktop {
            padding-top: 200px;
        }  
        
        @include forTablet {
            width: 100%;
            padding-top: 130px;
        } 

        @include forPhone {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    h2 {
        margin-top: 10px;
        font-size: 4.0rem;
        color: $headingMain;
    }

    .talk {
        position: absolute;
        top: 40px;
        right: 100px;

        transition: all 0.2s ease-out;

        @include forTablet {
            top: 30px;
            right: 20px; 
        }
    }
}

.menuButton {
    position: fixed;
    top: 40px;
    left: 80px;
    border-radius: 4px;

    background: $indexBackground;
    color: $textMain;

    z-index: 3;

    i {
        margin: 4px;
        
        z-index: 2;
        font-size: 5.5rem;
        text-shadow: 1px 1px 1px #005;

        @include forPhone {
            font-size: 4.0rem;
        }
    }

    @include forTablet {
        top: 30px;
        left: 20px; 
    }
}

.menuButton:hover,
.menuButton:focus {
    color: $headingMain;
    text-shadow: 0 0 3px $headingMain;

    transition: all 0.3s ease-out;
    transform: rotate(180deg);
}

.menuButton:active {
    color: $indexBackground;
    text-shadow: 0 0 3px $indexBackground;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;

    background: transparent;
    color: $textMain;

    i {
        font-size: 5.0rem;
    }
}

.closeButton:hover,
.closeButton:focus {
    color: $backgroundMain;
    text-shadow: 0 0 3px $backgroundMain;

    transition: all 0.3s ease-out;
    transform: rotate(180deg);
}

.closeButton:active {
    color: $textMain;
    text-shadow: 0 0 3px $textMain;
}

.mainNav {
    position: fixed;
    top: 0;
    left: -1000px;

    width: 30%;
    max-width: 600px;
    border: 5px solid $backgroundMain;
    box-shadow: 0 0 5px $backgroundMain;

    z-index: 4;

    text-align: center;
    background: $indexBackground;

    transition: all 0.5s ease-out;

    @include forTablet {
        width: 40%;
    }

    @include forPhone {
        width: 90%;
    }

    a {        
        font-size: 3.6rem;
        transition: all 0.2s ease-out;
    }

    .navList {
        height: 100vh;
        padding: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a:hover,
        a:focus {
            color: $indexBackground;
            background: $textMain;
        }

        a:focus {
            padding: 0 20px;
        }

    }
}

.socialMediaNav {
    @include forDesktop {
        margin-top: 150px;
    }
    
    @include forTablet {
        margin-top: 20px;
    }

    .socialList {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;

        @include forTablet {
            :first-child {
                width: 100%;
            }
        }

        .socialLink {
            margin-top: 40px;

            @include forPhone {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .socialLink a {
            padding: 20px;
            transition: all 0.2s ease-out;

            @include forTablet {
                padding-right: 50px;
            }

            @include forPhone {
                padding: 15px 15px;
            }
        }

        .socialLink a.highlighted {
            padding: 5px 15px;
            margin-right: 10px;

            @include forPhone {
                margin-right: 0;
            }
        }

    }
}