// header styles

header {
    position: relative;

    padding-top: 80px;

    h2 {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-top: 1px solid $textMain;
        font-size: 4.2rem;
        font-weight: 300;
    }

    .talk {
        position: absolute;
        top: 13px;
        right: 10px;

        transition: all 0.2s ease-out;
    }
}

.menuButton {
    top: 10px;
    left: 10px;
    position: fixed;
    overflow: hidden;
    border-radius: 4px;

    background: $textMain;
    color: $backgroundMain;

    z-index: 3;

    i {
        margin: 4px;
        
        z-index: 2;
        font-size: 4.0rem;
        text-shadow: 1px 1px 1px #005;
    }
}

.menuButton:hover,
.menuButton:focus {
    color: $headingMain;
    text-shadow: 0 0 3px $headingMain;

    transition: all 0.3s ease-out;
    transform: rotate(180deg);
}

.menuButton:active {
    color: $indexBackground;
    text-shadow: 0 0 3px $indexBackground;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;

    background: transparent;
    color: $textMain;

    i {
        font-size: 5.0rem;
    }
}

.closeButton:hover,
.closeButton:focus {
    color: $backgroundMain;
    text-shadow: 0 0 3px $backgroundMain;

    transition: all 0.3s ease-out;
    transform: rotate(180deg);
}

.closeButton:active {
    color: $textMain;
    text-shadow: 0 0 3px $textMain;
}

.mainNav {
    position: fixed;
    top: 0;
    left: -1000px;

    min-width: 320px;
    border: 5px solid $backgroundMain;
    box-shadow: 0 0 5px $backgroundMain;

    z-index: 4;

    text-align: center;
    background: $indexBackground;

    transition: all 0.5s ease-out;

    a {        
        font-size: 3.6rem;
        transition: all 0.2s ease-out;
    }

    .navList {
        height: 500px;
        padding: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a:hover,
        a:focus {
            color: $indexBackground;
            background: $textMain;
        }

        a:focus {
            padding: 0 20px;
        }

    }
}

.socialMediaNav {
    
}
