// variable declarations and mixins for media queries 

// variable declarations
$backgroundMain: #16161d;
$textMain: #fff;
$indexBackground: #29396B;
$headingMain: #A8D4FF;


// media query mixins
@mixin forDesktop {
  @media (max-width: 1600px) { @content; }
}

@mixin forTablet {
  @media (max-width: 1024px) { @content; }
}

@mixin forPhone {
  @media (max-width: 599px) { @content; }
}