// variable declarations and mixins for media queries 

// variable declarations
$backgroundMain: rgb(10, 10, 10);
$secondaryBackground: #352d68;
$textMain: #fff;
$indexBackground: #29396B;
$headingMain: #A8D4FF;


$desktopHeight: 762px;

// media query mixins
// @mixin forPhone {
//   @media (max-width: 599px) { @content; }
// }

@mixin forTablet {
  @media (min-width: 600px) { @content; }
}

@mixin forDesktop {
  @media (min-width: 800px) { @content; }
}

