// styles for skill set section within main

.skillsSection {
    background: darkred;

    .sixty {
        padding-top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forty {
        clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);

        p {
            color: $headingMain;
            font-size: 2.5rem;
        }

    }

    .skillsList {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skillItem {
        margin: 40px;
    }

    i {
        @include forDesktop {
            font-size: 12.0rem;
        }
        
    }

    .skillItem img {
        @include forDesktop {
            max-width: 120px;
            max-height: 121px;
        }
    }
}