article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 96%;
  max-width: 1480px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .wrapper {
    width: 99.5%;
    max-width: 1024px;
  }
}

h1,
h2,
h3,
ul,
a,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  background: #0a0a0a;
  text-align: center;
  overflow-x: hidden;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 600;
}

h3,
a,
p {
  font-weight: 300;
}

h1 {
  font-size: 6.0rem;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 4.0rem;
}

h3 {
  font-size: 3.6rem;
}

a,
p,
input,
textarea {
  font-size: 2.2rem;
}

p {
  margin: 10px 0;
  line-height: 1.4;
}

a.highlighted {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #fff;
  font-weight: 600;
  color: #0a0a0a;
  background: #fff;
  font-size: 2.0rem;
}

a.highlighted:hover,
a.highlighted:focus {
  color: #fff;
  background: #0a0a0a;
}

i {
  font-size: 3.5rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover i,
a:focus i {
  color: #A8D4FF;
  text-shadow: 0 0 3px #A8D4FF;
}

a:active i {
  color: #29396B;
  text-shadow: 0 0 3px #29396B;
}

h1,
h2,
h3,
a,
p {
  letter-spacing: 1.2px;
  color: #fff;
}

h1,
h2,
h3,
a {
  line-height: 1.1;
}

header {
  position: relative;
  padding-top: 80px;
}

header h2 {
  margin: 10px 0;
  padding: 10px 0 20px;
  border-top: 1px solid #fff;
  font-size: 4.2rem;
  font-weight: 300;
}

header .talk {
  position: absolute;
  top: 13px;
  right: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menuButton {
  top: 10px;
  left: 10px;
  position: fixed;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  color: #0a0a0a;
  z-index: 3;
}

.menuButton i {
  margin: 4px;
  z-index: 2;
  font-size: 4.0rem;
  text-shadow: 1px 1px 1px #005;
}

.menuButton:hover,
.menuButton:focus {
  color: #A8D4FF;
  text-shadow: 0 0 3px #A8D4FF;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menuButton:active {
  color: #29396B;
  text-shadow: 0 0 3px #29396B;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  color: #fff;
}

.closeButton i {
  font-size: 5.0rem;
}

.closeButton:hover,
.closeButton:focus {
  color: #0a0a0a;
  text-shadow: 0 0 3px #0a0a0a;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.closeButton:active {
  color: #fff;
  text-shadow: 0 0 3px #fff;
}

.mainNav {
  position: fixed;
  top: 0;
  left: -1000px;
  min-width: 320px;
  border: 5px solid #0a0a0a;
  -webkit-box-shadow: 0 0 5px #0a0a0a;
          box-shadow: 0 0 5px #0a0a0a;
  z-index: 4;
  text-align: center;
  background: #29396B;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.mainNav a {
  font-size: 3.6rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.mainNav .navList {
  height: 500px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainNav .navList a:hover,
.mainNav .navList a:focus {
  color: #29396B;
  background: #fff;
}

.mainNav .navList a:focus {
  padding: 0 20px;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.skillsSection {
  padding-top: 40px;
  width: 100%;
  min-height: 10vh;
}

.skillsSection p {
  color: #A8D4FF;
  font-size: 2.5rem;
}

.skillsSection .skillsList {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.skillsSection .skillItem {
  margin: 40px;
}

.skillsSection i {
  font-size: 8.0rem;
}

.skillsSection .skillItem img {
  max-width: 120px;
  max-height: 121px;
}

.portfolioSection {
  min-height: 60px;
}

.portfolioSection .portfolioList {
  border-radius: 10px;
}

.portfolioSection .portfolioItem {
  -webkit-box-shadow: 1px 1px 5px #000;
          box-shadow: 1px 1px 5px #000;
  min-width: 320px;
  border: 3px solid #29396B;
  border-radius: 5px;
}

.portfolioSection .portfolioItem .projectPicContainer {
  margin: 0 auto;
  width: 80%;
}

.portfolioSection .portfolioItem h3 {
  padding: 10px;
  font-weight: 600;
}

.portfolioSection .portfolioItem p {
  font-size: 1.8rem;
}

.portfolioSection .portfolioItem a {
  display: inline-block;
  padding: 10px;
  text-decoration: underline;
  font-weight: 600;
  color: #29396B;
}

.portfolioSection .portfolioItem a:hover,
.portfolioSection .portfolioItem a:focus {
  text-shadow: 1px 1px 1px #29396B;
}

.portfolioSection .portfolioItem a:active {
  color: #000;
}

.portfolioSection .portfolioItem:nth-of-type(1) {
  margin-left: 0;
}

.portfolioSection .portfolioItem:nth-of-type(4) {
  margin-right: 5px;
}

.portfolioSection .skillUsedList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  text-align: center;
}

.portfolioSection .skillUsed {
  display: inline-block;
  margin: 5px 8px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 2.0rem;
  font-weight: 600;
}

.htmlColor {
  background: darkred;
}

.cssColor {
  background: #264de4;
}

.jQueryColor {
  background: #707070;
}

.jsColor {
  background: yellow;
  color: #000;
}

.sassColor {
  background: #cd6799;
}

.gitColor {
  background: #000;
  color: #fff;
}

.gitHubColor {
  background: green;
}

.reactColor {
  background: #222222;
  color: #53c1de;
}

.firebaseColor {
  background: orangered;
  color: #000;
}

.contactSection a {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 2px 2px 1px #000;
}

.contactSection a:hover,
.contactSection a:focus {
  background: #0a0a0a;
}

.contactSection a:active {
  background: #A8D4FF;
}

footer {
  padding-bottom: 20px;
  text-align: center;
}
